* {
    margin: 0;
    padding: 0;
}

section {
    display: block;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

a {
    color: aliceblue;
    text-decoration: none;
}

h2 {
    font-size: 3.6rem;
    padding: 0.5em 0;
}

body {
    background-color: #36403c;
    color: whitesmoke;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #36403c;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 1.5rem;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 6rem;
}

#welcome-section p {
    color: #c97171;
    font-size: 3rem;
    font-style: italic;
}

#projects {
    background-color: #9c4040;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 4em;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2.5rem;
}

.project.project-tile {
    background-color: #36403c;
    font-size: 2rem;
    border-radius: 15px;
    transition: transform 0.2s;
}

.project-image {
    width: 100%;
    height: 84%;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px;
}

.project-tile:hover {
    /* color: aliceblue;
    font-weight: bold; */
    transform: scale(1.05);
}


#contact-info {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

@media (max-width: 1024px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 830px) {
    html {
        font-size: 80%;
    }
    
}

@media (max-width: 755px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 480px) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 420px) {
    html {
        font-size: 55%;
    }
}