:root {
    --theme-color-1: #36403c;
}

* {
    margin: 0;
    padding: 0;
}

section {
    display: block;
}

html {
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

a {
    color: aliceblue;
    text-decoration: none;
}

h2 {
    font-size: 3rem;
    padding: 0.5em 0;
}

body {
    background-color: var(--theme-color-1);
    color: whitesmoke;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: var(--theme-color-1);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list a {
    display: block;
    font-size: 2rem;
    padding: 0.5rem 1rem;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-size: 6rem;
}

#welcome-section p {
    color: #c97171;
    font-size: 3rem;
    font-style: italic;
}

#projects {
    background-color: #9c4040;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 4em;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2.5rem;
    grid-auto-rows: 1fr;
}

.project.project-tile {
    background-color: var(--theme-color-1);
    font-size: 2rem;
    border-radius: 15px;
    transition: transform 0.2s;
}

.project-image {
    width: 100%;
    height: 86%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.project-tile:hover {
    /* color: aliceblue;
    font-weight: bold; */
    transform: scale(1.1);
}

.project-tile:focus {
    outline: none;
}

#contact-info {
    font-size: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 1167px) {
    html {
        font-size: 90%;
    }
    .project-image {
        height: 88%;
    }
}

@media (max-width: 830px) {
    html {
        font-size: 85%;
    }
}

@media (max-width: 762px) {
    .project-image {
        height: 92%;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 75%;
    }
    .project-image {
        height: 90%;
    }
}

@media (max-width: 420px) {
    html {
        font-size: 60%;
    }
}